@font-face{
	font-family: Roboto;
	src: url(font/Roboto-Regular.ttf);
}
*{
	font-family: Roboto;
}
body {
  background-color: #dde6ed;
}
.navbar {
  border: 0px;
  margin:0px;
  box-shadow: 5px 0 0 #eee; 
}
.form-control{
	border-radius: 0px;
}
.btn{
	border-radius: 0px;
	padding-left: 15px;
	padding-right: 15px;
}
.btn-info{
	background-color: #04929c;
	border: 0px;
	transition: 0.4s;
}
.btn-info:hover{
	background-color: rgba(4,146,156,0.8);
	border: 0px;
	transition: 0.4s;
}
.navbar-inverse{
	background-color: #04929c;
	color: #fff;
	border-radius: 0px;
	border-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a:hover{
	background-color: #00695C;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #00695C;
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand{
	font-weight: bolder;
	color: #fff;
}

.navbar-inverse .navbar-nav > li> a:hover{
	background-color: #fff;
	color: #494949;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
	background-color: #fff;
	color: #494949;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #494949;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #fff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li>a:hover{
	background-color: #fff;
	color: #04929c;
}
.footer{
	background-color: #04929c;
	color: #fff;
	width: 100%;	
	display: inline-block;
	line-height: 30px;
	padding-top: 10px;
}
.kepsek{
	width: 100%;
	height: 10%;
}
.wrap{
	margin-top: 40px;
}
h4.title{
	color: #494949;
}
article img{
	width: 100%;
}

article p.post-body{
	margin: 5px 0px 0px 0px;
	font-size: 14px;
	color: #7f7f7f;
}
article h4.post-title a{
	display: block;
	font-weight: bold;
	text-decoration: none;
	color: #494949;
}
.recent ul {
	list-style     : none;
	font-size      : 14px;
	text-decoration: none;
	padding        : 0px;
}
.recent ul > li {
	-webkit-box-shadow: inset 0 -2px 0 0 #eee;
	-moz-box-shadow   : inset 0 -2px 0 0 #eee;
	-o-box-shadow     : inset 0 -2px 0 0 #eee;
	box-shadow        : inset 0 -2px 0 0 #eee;
	margin: 2px 0px;
}
.recent ul > li > a{
  display: block;
  padding: 15px 0px 15px 10px;
  line-height: 25px;
  text-decoration: none;
  color: #000;
  border-left: 10px solid #04929c;
  transition: 0.4s;
}
.recent ul > li > a:hover{
  transition: 0.2s;
  border-left:  20px solid #04929c;
}
.recent ul > li:hover{
  text-decoration: none;
  color: #000;
}
.content{
	margin-top:15px;
}
ul.dropdown-menu  {
  padding: 0px;
}
.sideleft{
	padding: 0px 10px 5px 0px;
}

.sideright{
	padding: 0px 0px 5px 10px;
}

.main {
	padding: 0px;
}
ul.dropdown-menu > li > a{
  line-height: 40px;
}

.content-footer{
	background-color: #fff;
	display: block;
	padding: 10px 40px 40px;
	color: #464646;
}
.content-footer ul{
	padding: 0px;
}
@media (min-width: 768px) {
	.navbar-brand > img{
		position: absolute;
		left: 39%;	
	}
	.carousel{
	width: 100%;
	margin :0 auto;
}
}

.content-footer ul>li{
	list-style: none;
}
.glyphicon-calendar{
	color: #000;
}

.carousel-inner > .item > img {
	width: 100%;
}
.navbar-custom{
	padding: 10px 5px;
}
.carousel-control ,.carousel-control.left, .carousel-control.right{
	background: none;
}
.navbar-brand{
	padding:0px 0px;
}
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
.social-network a#icon.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a#icon.icoInstagram:hover{
	background-color: rgb(86,53,47);
}
.social-network a#icon.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a#icon.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a#icon {
 background-color: #D3D3D3;   
}
