body {
  background: #eee;
}
.full  {
	width: 100%;
}
.navbar {
  border: 0px;
}

.navbar-inverse{
	color: #fff;
	border-radius: 0;
	border-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #5bc0de;
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand{
	color: #fff;
}
.navbar-inverse .navbar-nav > li:hover{
	-webkit-box-shadow: inset 0 -4px 0 0 #5bc0de;
  -moz-box-shadow: inset 0 -4px 0 0 #5bc0de;
  -o-box-shadow: inset 0 -4px 0 0 #5bc0de;
  box-shadow: inset 0 -4px 0 0 #5bc0de;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
	background-color: #5bc0de;
	color: #fff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #000;	
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #fff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu li>a:hover{
	color: #fff;
	background-color: rgba(91,192,222,.85);
}
#header{
	margin-top: 50px;
}
h4.title {
	padding: 0 0 8px 0;
	-webkit-box-shadow: inset 0 -5px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 -5px 0 0 #eeeeee;  
  -o-box-shadow: inset 0 -5px 0 0 #eeeeee;  
	box-shadow: inset 0 -5px 0 0 #eeeeee; 	
}
h4.title span{
	padding: 0 0 8px 0;
	-webkit-box-shadow: inset 0 -5px 0 0 #5bc0de;
  -moz-box-shadow: inset 0 -5px 0 0 #5bc0de;
  -o-box-shadow: inset 0 -5px 0 0 #5bc0de;
	box-shadow: inset 0 -5px 0 0 #5bc0de;
}
.clear{
  overflow: auto;
}
.login{
  padding: 0px 10px;
}
.content{
  background: #fff;
  margin: 5px 0px 5px 0px;
}

article img{
  width: 100%;
  height: 170px;
  float: left;
}

article h4.post-title{
  font-weight: bold;
}

.recent-post ul {
  list-style: none;
  font-size: 14px;
  text-decoration: none;
  padding: 0px 0px 0px 0px;
}
.recent-post ul > li {
  -webkit-box-shadow: inset 0 -2px 0 0 #eee;
  -moz-box-shadow: inset 0 -2px 0 0 #eee;
  -o-box-shadow: inset 0 -2px 0 0 #eee;
  box-shadow: inset 0 -2px 0 0 #eee;
}
.recent-post ul > li > a{
  display: block;
  padding: 0px 3px;
  line-height: 35px;
  text-decoration: none;
  color: #000;
}
.recent-post ul > li:hover{
  text-decoration: none;
  background: #eee;
  color: #000;
}

.footer {
  background: #222;
  padding: 10px 0px;
}

.text-footer {
  color: #fff;
  padding: 5px;
  text-align: center;
}

article{
  margin: 5px 0px;
}

ul.dropdown-menu  {
  padding: 0px;
}

ul.dropdown-menu > li > a{
  line-height: 40px;
}

hr.line{
  height: 100px;
  background-color: #eee;
}
